
#add {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .addCollab {
    margin: 50px auto;
    background-color: white;
    width: 450px;
    padding: 20px;
    border-radius: 32px;
  }
  .collabWrapper {
    max-height: 75vh;
    overflow-y: auto;
  }
  @media screen and (max-width: 500px) {
    .addCollab {
      margin: 50px auto;
      width: 97%;
    }
  }
  h3 {
    width: 100%;
    text-align: center;
  }
  #boardLink {
    width: 65%;
    height: 48px;
    margin-top: 3px;
    font-size: 12px;
    border: $powderBlue solid 2px;
    border-radius: 16px;
    padding: 0 12px;
    transition: linear 0.5s;
    color: $darkBlue;
  }
  #copyLink {
    color: $darkBlue;
    background-color: $powderBlue;
    width: 33%;
    padding: 5px;
    transition: background-color linear 0.5s;
  }
  #copyLink:hover {
    background-color: $lightBlue;
  }
  #copyLink:active {
    transform: scale(0.96);
  }
  .confirmCopy {
    position: fixed;
    top: 650px;
    left: 45%;
    animation: pop 0.5s linear, fade 1s linear 2s;
    height: 68px;
    background-color: black;
    color: white;
    width: 200px;
    text-align: center;
    border-radius: 32px;
    padding: 20px 0;
  }
  @keyframes pop {
    0% {
      top: 1000px;
    }
    100% {
      top: 650px;
    }
  }
  @keyframes fade {
    0% {
    }
    100% {
      transform: scale(1.1);
      opacity: 0;
    }
  }
  .searchList {
    position: relative;
    width: 380px;
    max-width: 95%;
  }
  .searchBox {
    max-height: 300px;
    overflow-y: auto;
  }