$offWhite: #f1f1f1;
$ligthPaige: #cdcdcd;
$Paige:#cabab1;
$lightBlue: #81a1b0;
$darkBlue: #485b66;
$lightPink: #dac9c1;
$lightPinkHover: #b1988d;
$lightgrey:#d1cfcb;
$darkgrey:#767676;
$powderBlue: #caf0f8;
$queenBlue: #3e6990;
$queenPink: #D9BDC5;
$queenPinkHover: #da94a8;
$qainsboro: #dedddd;
$magnolia: #e8e6f1;
$blue:#a2d5f2;
