@mixin horizontalDivs {
    display: inline-block;
    vertical-align: middle;
    height: 48px;
    padding: 12px 4px;
    text-align: center;
    margin: 0px 1px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    color: $darkBlue;
    &:hover {
      background-color: $lightPink;
    }
}

  @mixin circleButtons{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:$lightgrey;
    text-align: center;
    border-color: transparent;
    margin: 3px;
    &:active{
     border: 1px solid $darkBlue;
    }
  }

  @mixin optionsList {
    background-color: $offWhite;
    border-radius: 16px;
    width: 350px;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 0px 12px 2px #a09f9f;
    padding: 20px;
    p{
      margin:16px 0;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 10px 10px;
        margin: 4px 0;
        height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        transition: background-color 0.5s ease;
        border-radius: 16px;
      }
      li:hover {
        background-color: $lightPink;
      }
    }
      input {
        display: table-cell;
        background-color: $lightPink;
        height: 48px;
        margin-top: 4px;
        width: 100%;
        border: none;
        padding: 10px;
        border-radius: 40px;
        transition: background-color 0.5s ease;
      }
      input:hover {
        background-color: $lightPinkHover;
      }
      input:focus{
        background-color: $lightPinkHover;
        border: $lightBlue 4px solid;
      }
  }

  @mixin inputField {
    border-radius: 10px;
    border: 2px solid $ligthPaige;
    padding: 6px 8px;
    margin: 5px 2px 5px 0px;
    outline: none;
    width: 20vw;
    min-width: 200px;
    max-height: 300px;
  }

  @mixin CTAButton {
    padding: 4px 40px;
    margin: 10px 0;
    background-color: $darkBlue;
    border-radius: 20px;
    border: none;
    color: $offWhite;
    text-decoration: none;
    font-size: 18px;
  }

  @mixin profileButton {
    border-radius: 400px;
    padding: 7px 15px;
    font-weight: bold;
    background-color: $lightgrey;
    color: $darkgrey;
    outline: none;
    border: 0;
    margin: 0 2px;
  }

  @mixin popUpBackground {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @mixin popUpTitle {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 5px 0px;
  }

  @mixin popUpContent {
    padding: 30px;
    background-color: white;
    margin: 0 auto;
    border-radius: 35px;
  }

  .searchList {
    @include optionsList;
    width: 400px;
    margin: 10px auto;
    max-height: 400px;
    overflow-y: auto;
    max-width: 85vw;
  }

  .searchInput {
    display: table-cell;
    background-color: $lightPink;
    height: 48px;
    margin: 4px auto 10px auto;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 40px;
    transition: background-color 0.5s ease;
  }
  .searchInput:hover {
    background-color: $lightPinkHover;
  }
  .searchInput:focus{  
    background-color: $lightPinkHover;
    border: $lightBlue 4px solid;
    outline: none;
  }