@mixin horizontalDivs {
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  padding: 12px 4px;
  text-align: center;
  margin: 0px 3px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  color: $darkBlue;
  &:hover {
    background-color: $lightPink;
  }
}

@mixin circleButtons {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $lightgrey;
  text-align: center;
  border-color: transparent;
  margin: 3px;
  &:active {
    border: 1.5px solid $darkBlue;
  }
}
